.home {
    height: 90vh;
    background: linear-gradient(rgba(33, 33, 33, 0.422), rgba(33, 33, 33, 0.422)), url('../../../images/img1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;

    .container {
        .homeText {
            text-align: center;
            margin-bottom: 1.5rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .title {
                color: var(--whiteColor);
                font-size: 2rem;
                font-weight: 700;
                line-height: 2.5rem;
            }

            .subTitle {
                color: var(--whiteColor);
                opacity: .9;
                font-size: 13px;
                font-weight: 300;
                padding: 1rem 0;
                max-width: 70%;
                text-align: center;
                margin: auto;
            }

            .btn {
                padding: .5rem 1.8rem;
                background-color: var(--PrimaryColor);
                border-radius: 3rem;
                cursor: pointer;

                .link {
                    color: var(--whiteColor);
                    text-decoration: none;
                    font-size: .9rem;
                    font-weight: 600;
                }

                &:hover {
                    background: var(--HoverColor);
                }
            }
        }

    }
}


/* Media Queries */
@media screen and (min-width: 556px) {
    .home{
        .container{
            .homeText{
                .title{
                    font-size: 2.5rem;
                }

                .subTitle{
                    font-size: 18px;
                }
            }
        }
    }
}

@media screen and (min-width: 720px) {
    .home{
        .container{
            .homeText{
                top:60%;
                .title{
                    font-size: 3rem;
                    margin: auto;
                    line-height: 4rem;
                }

                .subTitle{
                    width: 70%;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .home{
        .container{
            .homeText{
                .subTitle{
                    font-size: 20px;
                }
            }
        }
    }
}
