.main {
  min-height: 100vh;
  background: linear-gradient(rgba(33, 33, 33, 0.4), rgba(33, 33, 33, 0.4)), url(../../images/bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  padding: 2rem 0;
}
.main .btn-primary-cust {
  background: var(--PrimaryColor);
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
}
.main .btn-primary-cust:hover {
  background: var(--HoverColor);
  color: #fff;
}
.main .container {
  margin: 0 auto;
  height: 100%;
}
.main .container .row {
  height: 100%;
}
.main .container .row .panel {
  min-height: 380px;
  box-shadow: 5px 5px 20px rgb(248, 248, 248);
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.96);
}
.main .container .row .panel .panel-heading {
  text-align: center;
  margin-bottom: 12px;
}
.main .container .row .panel .panel-heading h3 {
  font-size: 2.2rem;
  font-weight: 600;
  color: #2f2e2e;
}
.main .container .row .panel .panel-body .input-field {
  background: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ddd;
  color: #f9713b;
}
.main .container .row .panel .panel-body .input-field input[type=text],
.main .container .row .panel .panel-body .input-field input[type=password] {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
}
.main .container .row .panel .panel-body .input-field .icon {
  font-size: 2.2rem;
}
.main .container .row .panel .panel-body .input-field .icon-eye-invisible {
  color: #aeaeae;
  font-size: 1.3rem;
}
.main .container .row .panel .panel-body .input-field .icon-eye {
  color: #f9713b;
  font-size: 1.3rem;
}
.main .container .row .panel .panel-body .form-inline label {
  padding-left: 10px;
  margin: 0;
  cursor: pointer;
}
.main .container .row .panel .panel-body .form-inline #forgot {
  min-width: 100px;
  margin-left: auto;
  text-decoration: none;
}
.main .container .row .panel .panel-body a:hover {
  text-decoration: none;
}
.main .container .row .panel .panel-body .progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 1.5rem 0;
}
.main .container .row .panel .panel-body .progressbar .progress-step {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  z-index: 2;
}
.main .container .row .panel .panel-body .progressbar .progress-step::before {
  counter-increment: step;
  content: counter(step);
}
.main .container .row .panel .panel-body .progressbar .progress-step::after {
  content: attr(data-title);
  text-align: center;
  margin-bottom: 0.2rem;
  width: auto;
  position: absolute;
  top: calc(-100% + 1rem);
  font-size: 0.85rem;
  color: #000;
  font-weight: 700;
}
.main .container .row .panel .panel-body .progressbar .progress-step-active {
  background-color: var(--PrimaryColor);
  color: #fff;
  border: none;
}
.main .container .row .panel .panel-body .progressbar::before,
.main .container .row .panel .panel-body .progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 3px;
  width: 100%;
  background-color: #000;
  z-index: 1;
}
.main .container .row .panel .bordert {
  border-top: 1px solid #aaa;
  position: relative;
}
.main .container .row .panel .bordert a {
  text-decoration: none;
}
.main .container .row .panel .bordert a img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  position: relative;
}
.main .container .row .panel .bordert::after {
  content: "or connect with";
  position: absolute;
  top: -13px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FCFCF9;
  padding: 0px 8px;
}

@media (max-width: 360px) {
  body {
    height: 100%;
  }
  body .container {
    margin: 30px 0;
  }
  body .container #forgot {
    margin-left: 0;
    padding-top: 10px;
  }
  body .container .bordert::after {
    left: 25%;
  }
}/*# sourceMappingURL=user.css.map */